@{
    ViewBag.Title = "Home Page";
}

    <h1>Weather Report</h1>
    <br />
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Weather Report App</title>
        <style type="text/css">
            body {
                font-family: Arial;
                font-size: 10pt;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
        <script type="text/javascript">
        var source, destination;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('txtSource'));
            new google.maps.places.SearchBox(document.getElementById('txtDestination'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': false });
        });
        
        function getWeather() {

            var endW;
            var startW;
            var startSTATE;
            var endSTATE;

            endW = document.getElementById('txtDestination').value;
            startW = document.getElementById('txtSource').value;
            //endSTATE = document.getElementById('endSTATE').value;
            //startSTATE = document.getElementById('startSTATE').value;


            var url = "http://api.wunderground.com/api/36b799dc821d5836/conditions/q/";
            var urlStart = url.concat("/" + startW + ".json");
            var urlEnd = url.concat("/" + endW + ".json");

            console.log(urlStart);

            $http.get(urlStart).success(function (data) {
                console.log(data);
                temp = data.current_observation.temp_f;
                icon = data.current_observation.icon_url;
                weather1 = data.current_observation.weather;
                console.log(temp);
                document.getElementById("conds1").innerHTML = "Currently " + temp + " &deg; F and " + weather1 + "";
                document.getElementById("currentIcon1").innerHTML = "<img src='" + icon + "'/>" 

            })

            $http.get(urlEnd).success(function (data) {
                console.log(data);
                temp = data.current_observation.temp_f;
                icon = data.current_observation.icon_url;
                weather1 = data.current_observation.weather;
                console.log(temp);
                document.getElementById("conds2").innerHTML = "Currently " + temp + " &deg; F and " + weather1 + "" 
                document.getElementById("currentIcon2").innerHTML = "<img src='" + icon + "'/>"

            })
        };

        function GetRoute() {
            var kansas_city = new google.maps.LatLng(39.114171, -94.627457);
            var mapOptions = {
                zoom: 7,
                center: kansas_city
            };
            map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('dvPanel'));

            //*********DIRECTIONS AND ROUTE**********************//
            source = document.getElementById("txtSource").value;
            destination = document.getElementById("txtDestination").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });

            //*********DISTANCE AND DURATION**********************//
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.IMPERIAL,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {
                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;
                    var duration = response.rows[0].elements[0].duration.text;
                    var dvDistance = document.getElementById("dvDistance");
                    dvDistance.innerHTML = "";
                    dvDistance.innerHTML += "Distance: " + distance + "<br />";
                    dvDistance.innerHTML += "Duration:" + duration;

                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }
        </script>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="txtSource" class="control-label">* Source:</label>
                    <input type="text" class="form-control" id="txtSource" placeholder="Kansas City, MO, USA" required />
            </div>
            <div class="form-group col-md-6">
                <label for="txtDestination" class="control-label">* Destination:</label>
                    <input type="text" class="form-control" id="txtDestination" placeholder="St. Louis, MO, USA" required />
            </div>
        </div>
        <br/>
        <div class="row">
            <p><a onclick="GetRoute()" class="btn btn-default left-margin">Get Route &raquo;</a></p>
        </div>
        <br/>
        <div class="row">
            <div class="left-margin" id="dvDistance">
            </div>
        </div>
        <br />
        <div class="row">
            <div id="dvMap"></div>
            </div>
            <!--<div id="dvPanel" style="width: 500px; height: 500px">
        </div>-->
        <div>
            <button id="btn" onclick="getWeather()">
                Show Weather
            </button>
            <br /><br /><br />
            <div class="weatherDash">
                <p class="currentConditions" id="conds1"></p>
                <div class="currentIcon" id="currentIcon1"></div>
            </div>
            <br /><br /><br />
            <div class="weatherDash">
                <p class="currentConditions" id="conds2"></p>
                <div class="currentIcon" id="currentIcon2"></div>
            </div>
        </div>
        
        
    </body>
</html>


