@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Weather Report</h1>
    <p class="lead">A web application utilizing any publicly available Maps API (e.g. Google Maps) and any third party libraries and/or frameworks in any programming language of your choice</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
</div>