*, h1 {
    font-family:Trebuchet MS;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-left: 150px;
    margin-right: 150px;
    background-color: WhiteSmoke;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#dvMap{
     width: 560px;
     height: 350px;
}
.hight{
    height: 350px;
}

.left-margin{
    margin-left: 20px;
}

.navbar-default {
  background-color: #5ba0ab;
  border-color: #9ad1d4;
}
.navbar-default .navbar-brand {
  color: #c9e8f0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #3e7c85;
}
.navbar-default .navbar-text {
  color: #c9e8f0;
}
.navbar-default .navbar-nav > li > a {
  color: #c9e8f0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3e7c85;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3e7c85;
  background-color: #9ad1d4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #3e7c85;
  background-color: #9ad1d4;
}
.navbar-default .navbar-toggle {
  border-color: #9ad1d4;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #9ad1d4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c9e8f0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c9e8f0;
}
.navbar-default .navbar-link {
  color: #c9e8f0;
}
.navbar-default .navbar-link:hover {
  color: #3e7c85;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c9e8f0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3e7c85;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3e7c85;
    background-color: #9ad1d4;
  }
}

.weatherDash {
    background-color: snow;
    height:70px;
    width:260px;
    border: 1px dashed #ccc;
    
}

.eventsDash {
    background-color: snow;
    height:300px;
    width:300px;
    border: 1px dashed #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}

.eventDash{
    background-color: snow;
    height:40px;
    width:190px;
    border: 1px dashed #ccc;
    overflow: hidden;
}


.scrollable-div{
    width: 260px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
